<h1>Analysis for '<%= @url %>'</h1>

<h2>Broken links</h2>
<ul>
  <%= for {broken_link, is_broken} <- @broken_links do %>
  <li>
    [<%= inspect broken_link.text %>](<%= broken_link.href %>)
    <%= if is_broken do %>
      <span style='color: red;font-size: 4em;'>✗</span>
    <% else %>
      <span style='color: green;font-size: 4em;'>✓</span>
    <% end %>
  </li>
  <% end %>
</ul>
